.chatPage{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  .chatBar{
    display: flex;
    flex-direction: column;
    width: 18%;
    justify-content: flex-start;
    height:100%
  }
  .chatWindow{
    display: flex;
    flex-direction: column;
    width: 82%;
  }
  .chat-mainHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .leaveChat-btn{
      height: 30px;
      width: 10%;
      margin-top: 30px;
    }
  }
  .sender__name{
    text-align: right;
  }
  .message__sender{
    background-color: rgb(194, 243, 194);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
  }
  .message__recipient{
    background-color: rgb(134, 102, 228);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
  }
}
